
a.page-link.active {
	font-weight: bold;
}

/*
a.page-link.active:before{ content:"\0003c\000a0";}
a.page-link.active:after{ content:"\000a0\0003e";}
*/

a, a:link, a:visited  {
    color: #a00000;
	text-decoration: none;
	background: none;
}

a.contrast {
}

.pubyear {
	font-weight: bold;
}

pre { /* Allow more width for code references, etc. */
    width: 75%;
}